.--markdown {
  display: block;
  width: 100%;
  word-break: break-all;
}
  .--markdown h1 {
    color: #4251ff;
    font-size: 1.6rem; }
  .--markdown h2 {
    color: #4251ff;
    font-size: 1.1rem; }
  .--markdown h3 {
    color: #4251ff;
    font-size: 0.9333333333rem; }
  .--markdown h4 {
    color: #4251ff;
    font-size: 0.85rem; }
  .--markdown h5 {
    color: #4251ff;
    font-size: 0.8rem; }
  .--markdown h6 {
    color: #4251ff;
    font-size: 0.7666666667rem; }
  .--markdown p {
    font-size: 0.95rem;
    white-space: pre-line;

    line-height: 1.2rem;
  }
  .--markdown img {
    display: block;
    width: 80%;
    margin: 0 auto;
    object-fit: contain; }
    .--markdown img[alt=sticker] {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 0.3rem -0.2rem 0.3rem; }
  .--markdown input[type=checkbox] {
    margin: 0 0.5rem !important;
    width: 1.2rem;
    height: 1.2rem;
    background: transparent !important;
    border: 1px solid #434343;
    appearance: none;
    line-height: inherit;
  }

.--markdown input[type=checkbox]:checked {
  background: #86ffe4 !important;
}

.--markdown table {
  width: 90%;
  margin: 1rem auto;
}

.--markdown ul, .--markdown ol {
  list-style: none;
}

.--markdown pre {
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.--markdown pre .CodeMirror {
  max-height: 90vh;
  min-height: 10rem;
}

.--markdown pre .CodeMirror-cursors {
  display: none;
}
