// 别删除 .--markdown，修改它包裹的内容
.--markdown {
  width: 100%;
  @each $size in 1, 2, 3, 4, 5, 6 {
    h#{$size} {
      color: #4251ff;
      font-size: 1/$size * 1rem + 0.6rem;
    }
  }

  p {
    font-size: 0.95rem;
    line-height: 1rem;
  }
  a[href]{
  }
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;

    &[alt=sticker] {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 0.3rem -0.2rem 0.3rem;
    }
  }
  input[type=checkbox]{
    margin: 0 0.5rem !important;
    width: 1.2rem;
    height: 1.2rem;
    background: transparent !important;
    border: 1px solid #434343;
    appearance: none;
    line-height: inherit;
    &:checked{
      background: #86ffe4 !important;
    }
  }
  strong{
  }
  blockquote{
  }
  table {
    width: 90%;
    margin: 1rem auto;

    tr {
      td {
      }
    }

    thead {
    }

    tbody {
    }
  }
  ul{
  }
  ol{
  }
  ul, ol{
    list-style: none;
  }
  li{
  }
}